<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  img {
    width: 200px;
  }
  body {
    text-align: center;
  }
  }body {
    text-align: center;
    font-family: 'Arial';
    background: rgb(79, 171, 224);
    color: rgb(123, 157, 219);
  }
  