<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
  </head>
  img {
    width: 200px;
  }
  body {
    text-align: center;
    font-family: 'JetBrains Mono';
    background: rgb(99, 164, 218);
    color: rgb(219, 219, 219);
  }